/* CSS reset script */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


*{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.main-banner{
    font-size: 2rem;
    text-align: center;
    /* margin: 0.9rem auto; */
    font-family: 'Odibee Sans', cursive;
    display: block;
    padding: 0.9rem 0;
}
.main-banner a{
    color: #eee;
}
body{
    background-color: #222;

}

header{
    background-color: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(10px);
    height: 100px;
    width: 100%;
    color: #eee;
    overflow: auto;
    position: fixed;
    top:  0;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


nav ul li{
    display: block;
    /* float: left; */
}

nav ul li a{
    font-size: 1.1rem;
    color: #eee;
    padding: 0.3rem     0.5rem;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;

}

main{
    color: #111;
}

.wrapper .evehead{
    font-size: 3rem;   
    font-weight: 600;
    margin: 5rem 0 3rem 0;
    text-align: center;
}

.wrapper{
    max-width: 800px;
    text-align: center;
    line-height: 1rem;
    margin: 0 auto;
    background-color: #eee;
    padding: 4rem 3rem;
}

.wrapper a{
    color: #eee;
}


h3{
    font-size: 1.8rem;
    margin: 1.5rem auto 1rem auto;
    font-weight: 400;
}

img{
    width: 90%;
    margin: 1rem auto 1rem auto;
}
p{
    line-height: 1.2rem;
    text-align: justify;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem auto 4rem auto;
}
.current{
    color: #eee;
    border: solid 1px #eee;
}











@media only screen and (min-width: 1000px){
    .main-banner{
        float: left;
        margin: 0.55rem 3rem;
        font-size: 1.5rem;
        padding: 0 0;
        /* padding: 0.5rem 0; */
        /* border-right: solid #eee; */
        padding-right: 0rem;
        margin-left: 15%;


    }
    .current{
        border: none;
    }


    nav ul li{
        padding:0.5rem 0.9rem ;
        font-size: 0.5rem;
        /* margin:1rem auto; */

    }
    header{
        height: 44px;
    }
    nav ul{
        margin: 0.12rem 15% 0.12rem 0;
    }
    .current{
        border: none;
    }
    .wrapper .evehead{
        margin: 3rem 0; 
    }
    .wrapper{
        padding: 4rem 8rem;
            
    }
    img{
        width: 60%;
    }
    p{
        max-width: 40%;
    }


    

}