<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFG</title>
    <link rel="stylesheet" href="static/events.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Odibee+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffac8fc367.js" crossorigin="anonymous"></script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">

</head>
<body>
    <header>
        <h1 class="main-banner"><a href="/">HFG</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/material">Material</a></li>
                <li><a class="current" href="#">Events</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="wrapper">
            <h2 class="evehead">
                Events
            </h2> 

            <h3>Episode 1</h3>
            <img src="/static/imgs/hfg1.jpeg" alt="Episode-1 Poster">
            <p>
                A first successful event where many enthusiastic students tried to build their own Arduino based project.
            </p>
            <h3>Episode 2</h3>
            <img src="/static/imgs/hfg2.jpeg" alt="Episode-2 Poster">
            <p>
                In this episode, participants got their own hardware components which they used to make various fun circuits.
                Servo motor and LDR were discussed in detail.
            </p>

            <h3>Episode 3</h3>
            <img src="/static/imgs/hfg3.jpeg" alt="Episode-3 Poster">
            <p>
                In this episode, participents learnt the basics of serial communication protocols such as I2C, SPI and how to interface sensors lik DHT11 and HC-SR04.
            </p>
            <h3>Episode 4</h3>
            <img src="/static/imgs/hfg4.jpeg" alt="Episode-4 Poster">
            <p>
                In this episode, participents learnt how to read a datasheet and register map inorder to interface MPU-6050. Participants were demonstrated with a mini project on Thrust vector control using servos and IMU sensors.
            </p>
            <h3>Episode 5</h3>
            <img src="/static/imgs/hfg5.jpeg" alt="Episode-5 Poster">
            <p>
                Episode 5 is a ebook session on creating a weather station using algorithms like nueral network and linear regression one low power microcontrollers like Arduino.
            </p>
            
        </div>
    </main>
</body>
</html>