<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFG</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Odibee+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffac8fc367.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <header>
        <h1 class="main-banner"><a href="#">HFG</a></h1>
        <nav>
            <ul>
                <li><a class="current" href="#">Home</a></li>
                <li><a href="/material">Material</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <div class="ver-align">
                <h2>Arduino 101</h2>
                <h3>By Hardware Focus Group, NISB</h3>
            </div>
        </div>
    </main>
</body>
</html>