<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFG</title>
    <link rel="stylesheet" href="static/mat.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Odibee+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffac8fc367.js" crossorigin="anonymous"></script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">

</head>
<body>
    <header>
        <h1 class="main-banner"><a href="/">HFG</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="current" href="#">Material</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="wrapper">
            <h2 class="mathead">
                Material
            </h2> 
            <div class="down-class">
                <h3>
                    Episode 1
                </h3>
                <i class="fas fa-file-pdf fa-8x"></i> <br>
                <div class="download-class">
                    <a href="/static/pdf/episode_1.pdf" download="">Download Now</a>
                </div>
            </div>
            
            <div class="down-class">
                <h3>
                    Episode 2
                </h3>
                <i class="fas fa-file-pdf fa-8x"></i> <br>
                <div class="download-class">
                    <a href="/static/pdf/episode_2.pdf" download="">Download Now</a>
                </div>
            </div>

            <div class="down-class">
                <h3>
                    Episode 3
                </h3>
                <i class="fas fa-file-pdf fa-8x"></i> <br>
                <div class="download-class">
                    <a href="/static/pdf/episode_3.pdf" download="">Download Now</a>
                </div>
            </div>
            <div class="down-class">
                <h3>
                    Episode 4
                </h3>
                <i class="fas fa-file-pdf fa-8x"></i> <br>
                <div class="download-class">
                    <a href="/static/pdf/episode_4.pdf" download="">Download Now</a>
                </div>
            </div>

            <div class="down-class">
                <h3>
                    Episode 5
                </h3>
                <i class="fas fa-file-pdf fa-8x"></i> <br>
                <div class="download-class">
                    <a href="/static/pdf/episode_5.pdf" download="">Download Now</a>
                </div>
            </div>

            

            
        </div>
    </main>
</body>
</html>